@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@900&family=Montserrat:wght@300;400&family=Roboto:wght@100;300;400&display=swap');
:root{
    --background-color: #efe7e5;
    --text-color : black;
}
*{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;  
}

body{
    margin: 3% 10%;
    background-color: var(--background-color);
    color: var(--text-color)
    
}

p{
    line-height: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
}

.images h3{
    padding-bottom: 20px;
}
nav ul li{
    color: var(--text-color);
    margin: 0 10px;
    cursor: pointer;
}

nav ul #dark-light-mode{
    color: red;
}


nav ul li a {
    color: var(--text-color);
    cursor: pointer;
}


header{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

header .header-left{
    flex: 6;
    margin-right: 50PX;
}

header .header-left small{
    display: flex;
    align-items: center;
    font-weight: bold;
}

header .header-left h1{
    font-size: 50px;
    font-weight: 400;
    margin-top: 40px;
}

header .header-left .links a {
    color: var(--text-color);
    font-weight: bold;
}

header .header-left .links{
    margin-top: 30px;
}

header .header-right{
    flex: 4;
}

header .header-right img{
    width: 100%;
    
}

.about{
    margin-top: 60px;
    margin-bottom: 60px;
}

.about p{
    line-height: 25px;
    font-weight: 500;

}
.images{
    align-items: center;
}

.images .image-card{
    display: flex;
    align-items: center;
    margin-bottom:50px;
    
}

.images .image-card .image-left{
    margin-right: 20px;
}

.images .image-card .image-left img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    
}

@media screen and (max-width : 900px){
    header{
        flex-direction: column-reverse;
    }

    header .header-right{
        margin-bottom: 50px;
    }
    header .header-left{
        margin: 0;
    }

    .images .image-card{
        flex-direction: column-reverse;
    }
    
    .images .image-card .image-left img{
        width: 100%;
        height: 50%;
    }

    header .header-left h1{
        font-size: 25px;
    }

    .links a{
        font-size: 15px;  
    }

    .links span{
        font-size: 15px;
    }

   

  
}

@media screen and (max-width : 800px){
    nav div ul a {
        display: none;
    }
    nav div ul span{
        font-size: 13px;
    }

    nav div ul li{
        font-size: 13px;

    }

    .images .image-card .image-left img{
        width: 100%;
        height: 50%;
    }

    nav h1{
        font-size: 13px;
    }
}







